<div>
  <h4><small>RECENT POSTS</small></h4><br>
  <% if @pagy.pages > 1 %>
    <%== pagy_bootstrap_nav(@pagy) %>
    <%== pagy_info(@pagy) %>
  <% end %>
  <hr>
  <% @records.each do |post| %>
    <div class="post_title">
      <h2><%= link_to "#{post.title}", post %></h2>
      <h6><i class="bi bi-clock"></i> Post by <%= "#{post.author.full_name}, created at #{post.created_at.strftime("%v, %T")}" %> </h6>
    </div>
    <div class="post_content">
      <%= simple_format(post.content) %>
    </div>
    <div class="">
      <%= "Views: #{post.views_count} ||" %>
      <%= "Comments: #{post.comments.size}" %>
    </div>
    <%= link_to 'Show', post %>
    <%= link_to 'Edit', edit_post_path(post) if post_author?(post) %>
    <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } if post_author?(post) %>
    <hr>
  <% end %>
  <br><br>
  <%= link_to 'New Post', new_post_path %><br><br>
  <% if @pagy.pages > 1 %>
    <%== pagy_bootstrap_nav(@pagy) %>
    <%== pagy_info(@pagy) %>
  <% end %>
</div>
