<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<div class="post">
  <div class="block bg-primary bg-opacity-75 text-center col-6">
    <div class="">
        <h1><%= @post.title %></h1>
    </div>
    <br><br>
    <div class="">
        <%= simple_format(@post.content, {}, wrapper_tag: 'h4') %>
    </div>
    <br><br>
    <div class="">
        <%= image_tag(@post.image, style: "max-height: 300px; max-width: 300px", alt: '<image>') if @post.image %>
    </div>
  </div>
</div>
<p>Updated: <%= distance_of_time_in_words(@post.updated_at, Time.now) %> ago</p>
<br><br>
<%= link_to 'Edit', edit_post_path(@post) %>
<%= link_to 'Back', posts_path %>

<%= link_to 'AUTHOR', @post.author %>
<hr>
<h3>Comments</h3>
<div class="">
  <%= render 'posts/change_status_view_comments' %>
</div>
<div class="">
  <%= render 'comments/comments' %>
</div>
<hr>
<h3>Add Comment</h3>
<% if current_author %>
  <%= render 'comments/form', comment: @comment %>
<% else %>
  <p>Only authorized users can add comments</p>
<% end %>
<%= params %>
