<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<div class="post d-flex align-items-start">
  <div class=" author-block text-center col-3">
    <h4>Post by <%= "#{@post.author.full_name}" %></h4><br><br>
    <%= image_tag(@post.author.avatar, class: 'avatar', alt: '<avatar>') if @post.author.avatar %>
  </div>
  <div class="block bg-primary bg-opacity-75 text-center col-8">
    <div class="">
        <h1><%= @post.title %></h1>
    </div>
    <br><br>
    <div class="">
        <%= simple_format(@post.content, {}, wrapper_tag: 'h4') %>
    </div>
    <br><br>
    <div class="">
        <%= image_tag(@post.image, style: "max-height: 300px; max-width: 300px", alt: '<image>') if @post.image %>
    </div>
  </div>
</div><br><br>
<p>Updated: <%= distance_of_time_in_words(@post.updated_at, Time.now) %> ago</p>
<br><br>
<%= link_to 'Edit', edit_post_path(@post) %>
<%= link_to 'Back', posts_path %>

<%= link_to 'AUTHOR', @post.author %>
<hr>
<h3>Comments</h3>
<div class="">
  <%= render 'posts/change_status_view_comments' %>
</div>
<% if params[:status] == {"status"=>"unpublished"} %>
  <div class="comments-block unpublished" id="comments">
    <h4>Unpublished comments</h4>
    <%= render @comments %>
  </div>
<% else %>
  <div class="comments-block" id="comments">
    <h4>Published comments</h4>
    <%= render @comments.published %>
  </div>
<% end %>
<hr>
<h3>Add Comment</h3>
<% if current_author %>
  <%= render 'comments/form', comment: @comment %>
<% else %>
  <p>Only authorized users can add comments</p>
<% end %>
<%= render 'sessions/modal' if render_modal? %>
